body {
	background-color: rgb(65, 60, 60);
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}

a {
	color: #cccccc;
}

a:hover {
	color: #ffffff;
}

img#noita_logo {
	max-width: 300px;
}

h2 {
	margin-top: 20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;	
	margin-bottom: 5px;
}

.nav-tabs {
	margin-top: 40px;
}

#list-of-spells {
	max-height: 400px;
	overflow: auto;
	border: 1px solid black;
	padding: 10px;
}


/* SCROLLBAR FIX */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* END SCROLLBAR FIX */




html { font-size: 1rem; }

@media (min-width: 576px) {
    html { font-size: 1rem; }
}
@media (min-width: 768px) {
    html { font-size: 2.25rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.25rem; }
}