body {
	background-color: rgba(20, 15, 15, 1.0);
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}

a {
	color: #cccccc;
}

a:hover {
	color: #ffffff;
}

img#noita_logo {
	max-width: 300px;
}

h2 {
	margin-top: 20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;	
	margin-bottom: 5px;
}

.nav-tabs {
	margin-top: 40px;
}

html { font-size: 1rem; }

/* for-phone-only */
@media (max-width: 599px) {
	html { font-size: 0.75rem; }
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
	html { font-size: 1rem; }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) { 
	html { font-size: 1rem; }
}

/* for-desktop-up */
@media (min-width: 1200px) {
	html { font-size: 1rem; }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
	html { font-size: 1.5rem; }
}
