body {
	background-color: rgba(20, 15, 15, 1.0);
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}

a {
	color: #cccccc;
}

a:hover {
	color: #ffffff;
}

img#noita_logo {
	max-width: 300px;
}

h2 {
	margin-top: 20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;	
	margin-bottom: 5px;
}

.nav-tabs {
	margin-top: 40px;
}

@media (max-width: 767.98px) {
	body {
		font-size: 300%;
	}
}